# Patterns used to check silent configuration file
#
# anythingpat - any string
# filepat     - the file location pattern (/file/location/to/license.lic)
# lspat       - the license server address pattern (0123@hostname)
# snpat       - the serial number pattern (ABCD-01234567)

# Accept EULA, valid values are: {accept, decline}
ACCEPT_EULA=accept

# Optional error behavior, valid values are: {yes, no}
CONTINUE_WITH_OPTIONAL_ERROR=yes

# Install location, valid values are: {/opt/intel, filepat}
PSET_INSTALL_DIR=/opt/intel

# Continue with overwrite of existing installation directory, valid values are: {yes, no}
CONTINUE_WITH_INSTALLDIR_OVERWRITE=yes

# List of components to install, valid values are: {ALL, DEFAULTS, anythingpat}
COMPONENTS=;m_comp_lib_comp.compiler_shared_p__noarch;m_comp_lib_comp.icc_icl_shared_p__noarch;m_comp_lib_comp.icc_p__noarch;m_comp_lib_cmp_libs.openmp_p__noarch;m_comp_lib_cmp_libs.suite_shared_p__noarch;m_comp_lib_comp.icc_docs_p__noarch;m_comp_lib_comp.icc_xcode_docs_p__noarch;m_comp_lib_comp.langshared_docs_p__noarch;m_comp_lib_cmp_libs.identifier_p__noarch;m_comp_lib_comp.icc_shared_p__noarch;m_comp_lib_comp.icc_icl_docs_p__noarch;m_comp_lib_mkl.core_c_p__noarch;m_comp_lib_mkl.docs_p__noarch;m_comp_lib_mkl.core_p__noarch;m_comp_lib_mkl.docs_c_p__noarch;m_comp_lib_ipp.shared_p__noarch;m_comp_lib_ipp.st_p__noarch;m_comp_lib_ipp.mt_p__noarch;m_comp_lib_ipp.docs_p__noarch;m_comp_lib_xcode.icc_81_p__noarch;m_comp_lib_xcode.icc_latest_81_p__noarch;m_comp_lib_xcode.icc_update_81_p__noarch;intel-ism__noarch;m_psxe_studio.shared_docs_p__noarch;m_psxe_studio.ccompxe_docs_p__noarch;m_psxe_studio.ccompxe_p__noarch;m_psxe_studio.shared_p__noarch;m_psxe_ipp.ism_p__noarch;m_psxe_mkl.ism_p__noarch;m_psxe_studio.shared_p-pset

# Installation mode, valid values are: {install, repair, uninstall}
PSET_MODE=install

# Directory for non-RPM database, valid values are: {filepat}
#NONRPM_DB_DIR=filepat

# Serial number, valid values are: {snpat}
#ACTIVATION_SERIAL_NUMBER=3JZX-KWMF99X6

# License file or license server, valid values are: {lspat, filepat}
#ACTIVATION_LICENSE_FILE=

# Activation type, valid values are: {exist_lic, license_server, license_file, trial_lic, serial_number}
ACTIVATION_TYPE=exist_lic

# Intel(R) Software Improvement Program opt-in, valid values are: {yes, no}
PHONEHOME_SEND_USAGE_DATA=no

# XCode location, valid values are: {/Applications/XCode.app, filepat}
XCODE_DIR=/Applications/XCode.app

# integrate the product to XCode, valid values are: {yes, no}
XCODE_INTEGRATION_NEEDED=yes

